@import "../../style/index.scss";

$max-width: 700px;
$icon-font-size: 40px;

<<<<<<< HEAD
.sync-with-github-page {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .amp-icon {
      margin-right: var(--large-spacing);
      font-size: $icon-font-size;
    }
=======
.sync-with-git-page {
  &__header {
    @include title-18;
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
  }

  &__message {
    @include body1;
    @include regular-14;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: var(--default-spacing);
    max-width: $max-width;
  }
<<<<<<< HEAD

  &__separator {
    margin: var(--large-spacing) 0;
    height: 1px;
    border: none;
    background-color: var(--black5);
  }
=======
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
}
