@import "../../../../style/index.scss";

<<<<<<< HEAD
.github-repo-details {
=======
.git-repo-details {
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
  width: 100%;
  &__body {
    @include flexFullRowWithSpacing;
  }

  &__name {
    @include title1;
    padding-bottom: var(--default-spacing-small);
  }

  &__status {
    margin-top: var(--default-spacing);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .amp-icon {
      margin-right: var(--default-spacing-small);
      color: var(--positive-default);
    }
  }
}
