@import "../../../../style/index.scss";

:root {
  --min-height-of-banner: 70px;
}

.repository-actions {
<<<<<<< HEAD
=======
  max-width: 800px;

>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
  &__auth {
    margin: var(--medium-spacing) 0;
    min-height: var(--min-height-of-banner);
    display: flex;
<<<<<<< HEAD
    background: var(--black10);
=======
    background: var(--white);
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
  }

  &__wizard_auth {
    margin: var(--default-spacing-small) 0 var(--double-spacing) 0;
    min-height: var(--min-height-of-banner);
    display: flex;
<<<<<<< HEAD
    background: transparent;
=======
    background: var(--white);
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
  }
  &__action {
    margin-left: var(--default-spacing-small);
    margin-right: var(--default-spacing-small);
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
  &__select-repo {
    @include flexFullRowWithSpacing;
    flex: 1;
    &__details {
      @include flexFullRowWithSpacing;
      .amp-icon {
        margin-right: var(--default-spacing-small);
        color: var(--negative);
      }
      color: var(--negative);
    }

    &__name {
      @include title1;
      padding-bottom: var(--default-spacing-small);
    }
  }
  .amp-button--outline {
    border-radius: 4px !important;
  }
}
