@import "../style/index.scss";

$image-height: 130px;

.new-entity {
  @include modalForm;
  svg {
    height: $image-height;
  }
<<<<<<< HEAD
=======
  &__dialog_btn {
    display: flex;
    gap: 20px;
  }
>>>>>>> 46ef1fee2562a397e75dc75d8aa1b3e2356c30e9
}
